:root {
  --nav-bg-color: #8BE8DA;
  --sideM-bg-color: #77CFC3;
  --content-bg-color: #EBF8F6;
  --button-hover-lightGrey: #ddd;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.three-part-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:    "nav nav"
                          "sideM content";
}

.login-bg {
  width: 100%;
  height: 100vh;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-logo {
  width: 100%;
  height: 80%;
}

.login-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form > * + * {
  margin-top: 0xp;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}

.login-form select {
  width: calc(100% + 20px);
  height: 35px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}

.login-buttons {
  width: calc(100% + 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-buttons button {
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-form a {
  text-decoration: none;
}

.nav {
  background-color: var(--nav-bg-color);
  display: flex;
  column-gap: 10px;
  padding: 5px 20px;
  grid-area: nav;
}

.nav-logo {
  margin-right: 50px;
}

.nav-tab {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.nav-tab:hover{
  background-color: #77CFC3;
}

.nav-search {
  margin-left: auto;
  display: flex;
  justify-items: center;
  column-gap: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
}

.nav-search > * {
  border-radius: 20px;
  border: none;
}

.nav-search-input {
  outline: none;
}

.nav-search > button {
  padding: 0px 12px;
  background-color: inherit;
}

.nav-search > button:hover {
  background-color: var(--button-hover-lightGrey);
}

.nav-avatar {
  border-radius: 50%;
  width: 40px;
  height: 100%;
  background-color: white
}

.nav-avatar:hover {
  box-shadow: 0px 0px 5px white;
  cursor: pointer;
}

.nav-setting:hover, .nav-search > button:hover {
  opacity: 60%;
  cursor: pointer;
}

/* sideMenu section */

.sideM {
  background-color: var(--sideM-bg-color);
  grid-area: sideM;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

.sideM > * {
  border: none;
  padding: 10px 16px;
  text-align: left;
  border-radius: 20px;
  background-color: inherit;
}

.sideM > *:hover {
  cursor: pointer;
}

.sideM-group {
  text-decoration: none;
  color: black;
}

.sideM > *:hover, .sideM-create, .sideM-addGroup {
  background-color: #EBF8F6;
}

.sideM-create:hover, .sideM-addGroup:hover {
  background-color: lightgray;
}

.sideM-import {
  margin-top: auto;
}

/* content section */

.content {
  background-color: var(--content-bg-color);
  grid-area: content;
}


/* contact section */

.contact-list {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: none;
  overflow-y: auto;
}

.contact-list-head {
  background-color: white;
  border: 2px solid grey;
}

.contact-list-record:hover {
  background-color: var(--button-hover-lightGrey);
}

.contact-form {
  margin: 20px;
}

.form-avatar {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  width: 150px;
  height: 150px;
}

#form-addPhoto {
  margin-top: 32%;
  margin-left: 32%;
  opacity: 60%;
}

.form-keyInfo {
  position: fixed;
  float: left;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  margin-left: 40px;
}

.form-name > *{
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 25px;
  width: 180px;
}

.form-record {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 5px;
}

.form-record > input {
  border: none;
}

.form-record > input:focus {
  outline: 2px solid gray;
}

.form-Info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#form-noteArea {
  display: block;
  width: 200px;
  height: 100px;
  resize: none;
}

.form-note {
  margin-top: 20px;
}

.contact-form > button[type="submit"], .detail-edit{
  float: right;
  border-radius: 20px;
  border: 2px solid gray;
  background-color: white;
  padding: 2px 10px;
}

.tag {
  background-color: var(--sideM-bg-color);
  padding: 2px 5px;
  border-radius: 20px;
  border: 2px solid gray;
}

.tag > * {
  background-color: inherit;
}

.tag > input {
  outline: none;
  border: none;
}