:root {
    --nav-bg-color: #8BE8DA;
    --sideM-bg-color: #77CFC3;
    --content-bg-color: #EBF8F6;
    --button-hover-lightGrey: #ddd;
  }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.three-part-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:    "nav nav"
                            "sideM content";
}

.nav {
    background-color: var(--nav-bg-color);
    grid-area: nav;
}

.nav-element {
    margin: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    column-gap: 20px;
}

.nav-logo {
    padding-right: 40px;
}

.nav-tab {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.nav-tab:hover{
    background-color: #77CFC3;
}

.nav-searchBar {
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
}

.nav-search-element {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.nav-search-input {
    outline: none;
    border: none;
}

#nav-search-filter, #nav-search-submit {
    border-radius: 20px;
    padding: 8px 12px;
    border: none;
    background-color: inherit;
}

#nav-search-filter:hover, #nav-search-submit:hover, #nav-setting:hover {
    opacity: 60%;
    cursor: pointer;
}

#nav-search-filter:hover, #nav-search-submit:hover {
    background-color: var(--button-hover-lightGrey);
}

.nav-avatar {
    border-radius: 50%;
    width: 40px;
    height: 100%;
    background-color: white
}

.nav-avatar:hover {
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}

.sideM {
    background-color: var(--sideM-bg-color);
    grid-area: sideM;
}

.sideM-elements {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 25px;
    row-gap: 5px;
}

.sideM-elements > button {
    background-color: inherit;
    border: none;
    padding: 10px 15px;
    text-align: left;
    border-radius: 30px;
}

.sideM-elements > button:hover {
    background-color: #EBF8F6;
}

#sideM-import {
    margin-top: auto;
}

#sideM-create {
    margin-top: 10px;
    border: 2px solid gray;
    background-color: white;
}

#sideM-create:hover, #sideM-addGroup:hover {
    background-color: var(--button-hover-lightGrey);
}

#sideM-addGroup {
    background-color: var(--content-bg-color);
}

#sideM-bin {
    margin-bottom: 20px;
}

.content {
    background-color: var(--content-bg-color);
    grid-area: content;
}

.contact-list {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: none;
    overflow-y: auto;
}

.contact-list-head {
    background-color: white;
    border: 2px solid grey;
}

.contact-list-record:hover {
    background-color: var(--button-hover-lightGrey);
}

.contact-form {
    margin: 20px;
}

.form-avatar {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
}

#form-addPhoto {
    margin-top: 32%;
    margin-left: 32%;
    opacity: 60%;
}

.form-keyInfo {
    position: fixed;
    float: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    margin-left: 40px;
}

.form-name > *{
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 25px;
    width: 180px;
}

.form-record {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 5px;
}

.form-record > input {
    border: none;
}

.form-record > input:focus {
    outline: 2px solid gray;
}

.form-Info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#form-noteArea {
    display: block;
    width: 200px;
    height: 100px;
    resize: none;
}

.form-note {
    margin-top: 20px;
}

.contact-form > button[type="submit"] {
    float: right;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: white;
    padding: 2px 10px;
}